*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}

aside{
    background: rgb(225, 225, 225);
    color: gray;
    padding: 30px 0px;
    text-align: center;

}
aside a{
    color: rgb(256, 43, 150);
}

.header{
    background: url("../img/woman.jpg") no-repeat center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header h1{
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
}
.header h1 sup{
    font-weight: normal;
}
.header a{
    width: 250px;
    margin: 20px;
}

.row{
    display: flex; 
}
.col{
    width: 50%;
}

.container{
    max-width: 800px;
    margin:150px auto;
}

.mt-50{
  margin-top: 50px;  
}

.mb-50{
    margin-bottom: 50px;  
}

.max-width-100{
    max-width: 100%;
}

.red-text{
    color: #ff0000;
}

h4{
    font-size: 2rem;
}

.line-height-100{
    line-height: 100%!important;
}
h6{
    font-size: 1.5rem;
}
.text-center{
    text-align: center;
}
    
.align-items-center{
    align-items: center;


}
footer{
    background: rgb(225, 225, 225);
    padding: 30px 0;
}
.justify-content-center{
    justify-content: center;
}

.footer-description{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navbar-footer{
    display: flex;
    list-style: none;
}
.navbar-footer li{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 0.5em;
}

.navbar-footer li:first-child{
    border-left: 0;
}

.navbar-footer li:last-child{
    border-right    : 0;
}

.navbar-footer li a{
    color: gray;
    text-decoration: none;
}

.redes-sociales{
    list-style: none;
    font-size: 2.5em;
}

.footer-container{
    max-width:800px;
    margin: auto;
}
